<a href="https://colab.research.google.com/github/tderr24/MAT-422/blob/main/HW_1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAT 422

## HW 1.4 - Principal Component Analysis

### Thomas Derr

In [ ]:
import numpy as np
import pandas as pd

#### Begin helper function
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

## End helper function
# Source - https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side

## Singular Value Decomposition

Singular value decomposition is a way to break an $m \times n$ matrix $A$ down such that

$A = U\Sigma V^T$

With $U$ and $V$ being orthogonal matrices of dimensions $m \times m$ and $n \times n$, and $\Sigma$ as entries $\sigma_i = \sqrt{\lambda_i}$ for $1 \leq i \leq n$ and with $\lambda_1, ..., \lambda_n$ being the eigenvectors of $A$ sorted in decreasing order

In [ ]:
A = np.random.rand(5,4)
U, sig, V = np.linalg.svd(A, full_matrices=True, compute_uv=True, hermitian=False)
pd.DataFrame(A)

          0         1         2         3
0  0.966280  0.913807  0.385789  0.806570
1  0.581997  0.481482  0.180623  0.773577
2  0.233125  0.193995  0.451051  0.926913
3  0.294237  0.220836  0.119277  0.317971
4  0.945610  0.105470  0.249698  0.128833

In [ ]:
display_side_by_side(pd.DataFrame(A), pd.DataFrame(U),pd.DataFrame(sig), pd.DataFrame(V), titles=['A','U','Sigma', 'V'])

## Low-Rank Matrix Approximations

The $2$-norm of a matrix $A\in \mathbb{R}^{n\times m}$ is defined as

$\max \limits_{x \neq0, ||x|| = 1} x^TA^Tx$


We defined the SVD of a matrix as

$A = \sum \limits^r_{j=1}\sigma_j u_j v^T_j$

we can then define the best $k$-rank approximation of $A$ to be

$A = \sum \limits^k_{j=1}\sigma_j u_j v^T_j$


This is finding a low rank approximation through truncated singular value decomposition. Below we show how we can re-assemble the original matrix with differently ranked compressions to get the original back with varying loss.

In [ ]:
lowR = 3
lowRankApprox = np.dot(np.dot(U[:, :lowR], np.diag(sig[:lowR])),V[:lowR, :])

origR = 4
orgRankApprox = np.dot(np.dot(U[:, :origR], np.diag(sig[:origR])),V[:origR, :])

In [ ]:
display_side_by_side(pd.DataFrame(lowRankApprox), pd.DataFrame(orgRankApprox),pd.DataFrame(A),  titles=['Rank 3 Approx','Rank 4 Approx','Original Matix'])

,0,1,2,3
0,0.981036,0.895037,0.324941,0.833093
1,0.555079,0.515724,0.291622,0.725195
2,0.242207,0.182442,0.413600,0.943237
3,0.290167,0.226013,0.136058,0.310657
4,0.945024,0.106215,0.252113,0.127780
,0,1,2,3
0,0.966280,0.913807,0.385789,0.806570
1,0.581997,0.481482,0.180623,0.773577
2,0.233125,0.193995,0.451051,0.926913
3,0.294237,0.220836,0.119277,0.317971
4,0.945610,0.105470,0.249698,0.128833
,0,1,2,3
0,0.966280,0.913807,0.385789,0.806570
1,0.581997,0.481482,0.180623,0.773577
2,0.233125,0.193995,0.451051,0.926913
3,0.294237,0.220836,0.119277,0.317971
4,0.945610,0.105470,0.249698,0.128833

## Principal Component Analysis

### Covariance Matrix

Let $[X_1...X_N]$ be a $p \times N$ matrix, then the sample mean $M$ is

$M = \frac{1}{N}(X_1+...+X_N)$


We can then calculate $B$ as

$B = [\hat{X_1}, \hat{X_2},...\hat{X_N}]$

where each $\hat{X_k} = X_k -M$ for each $X_k$

This essentially normalizes the values in the matrix by subtracting the mean, we call this mean deviation form

The covariance matrix $S$ is a $p\times p$ matrix such that

$S = \frac{1}{N-1}BB^T$


### Total Variance

If we take a $p\times N$ matrix $X$ that is in mean deviation form, the total variance of $X$ is the sum of the variances on the diagonal of the covariance matrix $S$, which we can also call the trace of $S$.

In [ ]:
A = np.random.randint(10, 20, (5,5))
covariant = np.cov(A)
var = np.var(A)
display_side_by_side(pd.DataFrame(A), pd.DataFrame(covariant),  titles=['Original Matrix','Covariant'])

,0,1,2,3,4
0,10,16,14,17,16
1,12,17,10,13,14
2,12,16,12,10,17
3,13,11,11,12,11
4,16,14,15,17,13
,0,1,2,3,4
0,7.80,3.35,1.95,-1.70,-1.00
1,3.35,6.70,4.90,-0.65,-1.75
2,1.95,4.90,8.80,-1.55,-4.50
3,-1.70,-0.65,-1.55,0.80,1.00
4,-1.00,-1.75,-4.50,1.00,2.50

In [ ]:
var

5.686400000000001